doctype html
html
  head
    meta content="text/html;charset=utf-8" http-equiv="content-type"
    meta content="en" http-equiv="content-language"
    link href="https://plus.google.com/106725853510406641388" rel="author"
    meta content="new year, ny, happy new year, christmas, 2014, 2013, odessa, ukraine, portfolio, dribbble, github, twitter, blog, homepage, developer, designer, ruby, html, css, php, javascript, nodejs, sinatra, photoshop, illustrator, sketch, ui, ux, usability, typography" name="keywords"
    meta content="Nikita Nikitin. Designer, developer from Odessa, UA." name="description" 
    meta content="user-scalable=no,width=device-width" name="viewport"
    base target="_top"
    link href="/favicon.ico" rel="shortcut icon"
    title 2013 — 2014 | Nikita Nikitin
    link rel='stylesheet' href='style.css'
    == jquery '1.10.1'
    script src='jquery.browser.min.js'
    script src='timeline.js'
  body
    .wrapper-background
      header
        center
          .yearstamp.hidden#y2013
            .inner: span 2013
          .yearstamp.active#y2014
              .inner
                .happy Happy
                .year year!
                span 2014
          .wishes
            span Great ideas to you!
