html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd,
q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt,
dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot,
thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption,
footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary {
    display: block;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.wrapper-background {
    position: absolute;
    min-width: 300px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2MzA1ZiIvPjxzdG9wIG9mZnNldD0iMjglIiBzdG9wLWNvbG9yPSIjMjc0ZDc3Ii8+PHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiNhYWNjZjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGRhZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #06305f), color-stop(28%, #274d77), color-stop(89%, #aaccf0), color-stop(100%, #b8daff));
    background: -webkit-linear-gradient(top, #06305f 0%, #274d77 28%, #aaccf0 89%, #b8daff 100%);
    background: -moz-linear-gradient(top, #06305f 0%, #274d77 28%, #aaccf0 89%, #b8daff 100%);
    background: -o-linear-gradient(top, #06305f 0%, #274d77 28%, #aaccf0 89%, #b8daff 100%);
    background: linear-gradient(top, #06305f 0%, #274d77 28%, #aaccf0 89%, #b8daff 100%);
}

.mobile_hidden {
    opacity: 0;
    display: none;
}

@media only screen and (max-width: 760px) {
    .mobile_hidden .mobile {
        display: none;
    }
}

center {
    text-align: center;
    z-index: 2;
    margin: 0 auto;
}

header {
    position: relative;
    margin-top: 5%;
    z-index: 5;
}

.wishes {
    position: absolute;
    top: 100px;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    color: #c4dcf6;
    font-weight: 100;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .wishes {
        font-size: 18px;
        line-height: 28px;
        top: 70px;
    }
}

@media only screen and (max-width: 400px) {
    .wishes {
        top: 40px;
        font-size: 14px;
        line-height: 21px;
    }
}

.wishes span {
    display: block;
    width: 300px;
    margin: 0 auto;
}

@media only screen and (max-width: 400px) {
    .wishes span {
        width: 150px;
    }
}

.yearstamp {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #84a6cc;
    position: absolute;
    color: #84a6cc;
}

@media only screen and (max-width: 650px) {
    .yearstamp {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 400px) {
    .yearstamp {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }
}

.yearstamp .inner {
    position: relative;
}

.yearstamp span {
    display: block;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 400;
}

@media only screen and (max-width: 650px) {
    .yearstamp span {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 400px) {
    .yearstamp span {
        font-size: 16px;
        padding: 4px 6px;
    }
}

.yearstamp .happy, .yearstamp .year {
    position: absolute;
    z-index: 2;
    top: 2px;
    font-size: 36px;
    color: #c4dcf6;
}

@media only screen and (max-width: 650px) {
    .yearstamp .happy, .yearstamp .year {
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .yearstamp .happy, .yearstamp .year {
        font-size: 18px;
    }
}

.yearstamp .happy {
    left: -120px;
}

@media only screen and (max-width: 650px) {
    .yearstamp .happy {
        left: -80px;
    }
}

@media only screen and (max-width: 400px) {
    .yearstamp .happy {
        left: -60px;
    }
}

.yearstamp .year {
    right: -90px;
}

@media only screen and (max-width: 650px) {
    .yearstamp .year {
        right: -60px;
    }
}

@media only screen and (max-width: 400px) {
    .yearstamp .year {
        right: -45px;
    }
}

.yearstamp.hidden#y2014 {
    right: 50px;
}

.yearstamp.hidden#y2014 .happy, .yearstamp.hidden#y2014 .year {
    display: none;
}

@media only screen and (max-width: 650px) {
    .yearstamp.hidden#y2014 {
        right: 10px;
    }
}

.yearstamp.hidden#y2013 {
    left: 50px;
}

@media only screen and (max-width: 650px) {
    .yearstamp.hidden#y2013 {
        left: 10px;
    }
}

.yearstamp.active {
    margin-left: -50px;
    color: #1e4570;
    background: #84a6cc;
}

@media only screen and (max-width: 650px) {
    .yearstamp.active {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 400px) {
    .yearstamp.active {
        margin-left: -20px;
    }
}

#timeline {
    overflow: scroll;
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#timeline input {
    width: 0;
    right: 900px;
    height: 1px;
    outline: none !important;
    resize: none !important;
    opacity: 0 !important;
    border: none;
    background: none;
    position: absolute;
}

#timeline .days {
    position: absolute;
    white-space: nowrap;
    bottom: 25%;
}

#timeline .days #dy2014, #timeline .days #dy2013 {
    position: relative;
    display: inline-block;
}

#timeline .days #dy2013 > div, #timeline .days #dy2014 > div {
    display: inline-block;
    width: 5px;
    border-left: 1px solid #c0d8e8;
    height: 10px;
    position: relative;
}

#timeline .days #dy2013 > div:hover, #timeline .days #dy2014 > div:hover {
    border-color: white !important;
    cursor: pointer;
}

#timeline .days #dy2013 > div .github_wrapper, #timeline .days #dy2014 > div .github_wrapper {
    position: absolute;
    top: 0;
}

#timeline .days #dy2013 > div .github_wrapper .github_contrubutions,
#timeline .days #dy2014 > div .github_wrapper .github_contrubutions {
    left: -1px;
    bottom: 0;
    position: absolute;
}

#timeline .days #dy2013 > div .github_wrapper .github_contrubutions span,
#timeline .days #dy2014 > div .github_wrapper .github_contrubutions span {
    width: 10px;
    height: 3px;
    margin-bottom: 2px;
    border-left: 1px solid #c0d8e8;
    display: block;
}

#timeline .days #dy2013 > div .github_wrapper .github_contrubutions span:hover,
#timeline .days #dy2014 > div .github_wrapper .github_contrubutions span:hover {
    border-left: 1px solid white !important;
}

#timeline .days #dy2013 > div span.month_name, #timeline .days #dy2014 > div span.month_name {
    position: absolute;
    bottom: -25px;
    left: -6px;
    font-size: 14px;
    color: #c0d8e8;
}

#timeline .days #dy2013 > div span.month_name.huge_cap, #timeline .days #dy2014 > div span.month_name.huge_cap {
    font-size: 24px;
    bottom: -45px;
    left: -20px;
}

