@import compass/css3
@import compass/reset


$experimental-support-for-svg: true

@mixin retina
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    @content

@mixin more-than ($mnw)
  @media only screen and (min-width: $mnw) and (min-device-width: $mnw)
    @content

@mixin max-min-width ($mxw, $mnw)
  @media only screen and (max-width: $mxw) and (max-device-width: $mxw) and (min-width: $mnw) and (min-device-width: $mnw)
    @content

@mixin less-than ($mxw)
  @media only screen and (max-width: $mxw)
    @content


@function aj ($s)
  @return $s

html, body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 100

.wrapper-background
  position: absolute
  min-width: 300px
  width: 100%
  height: 100%
  z-index: 1
  +background(linear-gradient(top, #06305F 0%, #274D77 28%, #AACCF0 89%, #B8DAFF 100%))

.mobile_hidden
  opacity: 0.0
  display: none
  .mobile
    @media only screen and (max-width: 760px)
      display: none

center
  text-align: center
  z-index: 2
  margin: 0 auto

header
  position: relative
  margin-top: 5%
  z-index: 5

.grab
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move

.grabbing
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move

.wishes
  position: absolute
  top: 100px
  font-size: 21px
  line-height: 34px
  text-align: center
  color: #C4DCF6
  font-weight: 100
  width: 100%
  +less-than(650px)
    font-size: 18px
    line-height: 28px
    top: 70px

  +less-than(400px)
    top: 40px
    font-size: 14px
    line-height: 21px

  span
    display: block
    width: 300px
    margin: 0 auto
    +less-than(400px)
      width: 150px

.yearstamp
  display: inline-block
  +border-radius(8px)
  +less-than(650px)
    +border-radius(6px)
  +less-than(400px)
    +border-radius(4px)
  background: transparent
  border: 1px solid #84A6CC
  position: absolute
  color: #84A6CC

  .inner
    position: relative
  
  span
    display: block
    padding: 10px 20px
    font-size: 28px
    font-weight: 400
    +less-than(650px)
      font-size: 18px
      padding: 8px 16px

    +less-than(400px)
      font-size: 16px
      padding: 4px 6px

  .happy, .year
    position: absolute
    z-index: 2
    top: 2px
    font-size: 36px
    +less-than(650px)
      font-size: 24px
    +less-than(400px)
      font-size: 18px
    color: #C4DCF6

  .happy
    left: -120px
    +less-than(650px)
      left: -80px
    +less-than(400px)
      left: -60px

  .year
    right: -90px
    +less-than(650px)
      right: -60px
    +less-than(400px)
      right: -45px

  &.hidden
    &#y2014
      .happy, .year
        display: none
      right: 50px
      +less-than(650px)
        right: 10px

    &#y2013
      left: 50px
      +less-than(650px)
        left: 10px

  &.active
    margin-left: -50px
    +less-than(650px)
      margin-left: -30px
    +less-than(400px)
      margin-left: -20px
    color: #1E4570
    background: #84A6CC

#timeline
  overflow: scroll
  z-index: 3
  position: absolute
  top: 0
  opacity: 0.0
  width: 100%
  height: 100%

  input
    width: 0
    right: 900px
    height: 1px
    outline: none !important
    resize: none !important
    opacity: 0.0 !important
    border: none
    background: none
    position: absolute


  .days
    position: absolute
    white-space: nowrap
    bottom: 25%

  .days #dy2014, .days #dy2013
    position: relative
    display: inline-block

  .days #dy2013 > div, .days #dy2014 > div
    display: inline-block
    width: 5px
    border-left: 1px solid #C0D8E8
    height: 10px
    position: relative

    &:hover
      border-color: white !important
      cursor: pointer

    .github_wrapper
      position: absolute
      top: 0

      .github_contrubutions
        left: -2px
        bottom: 0
        position: absolute

        span
          margin-left: 1px
          width: 10px
          height: 3px
          margin-bottom: 2px
          border-left: 1px solid #C0D8E8
          display: block

          &:hover
            border-left-color: 1px solid white !important 
    
    span.month_name
      position: absolute
      bottom: -25px
      left: -6px
      font-size: 14px
      color: #FFFFFF

      &.huge_cap
        color: #FFFFFF
        font-size: 24px
        bottom: -45px
        left: -20px




